.main__container {
    background: url(../img/first.png) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo-white {
    width: 151px;
    height: 43px;
    text-align: center;
    //display: block;
    margin: 0 auto;
    margin-top: -700px;
    border-bottom: 2px solid hsla(0, 0%, 110%, .5);
    padding: 15px;
}

.friendship {
font: 100% Latoto;
width: 432px;
height: 37px;
color: #ffffff;
font-size: 40px;
font-weight: 700;
line-height: 49.42px;
text-align: center;
white-space: nowrap;
display: flex;
margin: 0 auto;
}