@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: bold; }

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: 300; }

@font-face {
  font-family: 'Latoto';
  src: url("./fonts/Latoto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Latoto-bold';
  src: url("./fonts/Latoto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: bold; }

@font-face {
  font-family: 'Latoto';
  src: url("./fonts/Latoto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }
