h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

img {
    max-width: 100%;

}
.section {
    height: 100vh;
    min-height: 650px;
}

.container {
    max-width: 940px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}